
# Project Assemblies
/Server.dll
/Server/bin
/OpenAI_API/bin
/OpenAI_API/obj
/OpenAI_API.dll
/Server/obj
/Scripts.dll
/Scripts/bin
/Scripts/obj
/Application/bin
/Application/obj

# Common Directories
/.vs
/ForServ/
/Honesty
/Output/Logs
/Output/docs
/Output/staff
/Output/stats
/Output/Crash Logs
/Output/Backups
/Output/Saves*
/Output/output/*
/Output/Scripts.dll
/Output/*.html
/Output/*.xml
/Output/*.dll
/Output/*.csv
/Output/*.xls
/Output/*.nupkg
/Output/Web
/Output/netstandard2.0/*
/Web
/Docs
/Reports

# Custom Directories
/2Read/*
/VitaNexCore
/Leaderboard
/UltimaLive
/TheBox
/Output/Config/DataPath.cfg
/packages
/.vs
=======
/Export

# Common Files
/firewall.cfg
/drng64.dll
/drng32.dll
/libdrng.so
/System.Drawing.Common.dll

# Custom Files
/TotalAccountGold.txt
/Output/Config/DataPath.cfg

# Wildcard Files
*.pdb
*.exe
*.exe.mdb
*.exe.config
*.sh
*.suo
*.idea
*.log
*.bin
*.csproj.user
*.DotSettings.user
*.ini

# Include Data Files
!/Data/*
!/bin/rosyln/*

/BinMyUO
/World
/MyServer
=======

# Exclude Data Files
/Data/PVPTournamentSystemData
_ReSharper.Caches